Libraries useful for data/statistical analysis:
* Pandas
* Numpy
* Matplotlib
* Scipy
* Seaborn 
* Statsmodels

To read a data file using pandas, you can store the name of the file in a variable
the same way you would normally read a file into python. 

For example:

In [1]:
import pandas as pd

filename = 'sitka_weather_2014.csv'

# Open it as a dataframe object using pandas 
da = pd.read_csv(filename)

It is useful to "see" the shape of the dataframe using .shape. This displays the dimensions of the data frame as a tuple with the number of rows first (cases) followed by the number of columns (variables)

In [3]:
da.shape

(356, 23)

In [4]:
# See the names of a column in a data set
da.columns

Index(['AKST', 'Max TemperatureF', 'Mean TemperatureF', 'Min TemperatureF',
       'Max Dew PointF', 'MeanDew PointF', 'Min DewpointF', 'Max Humidity',
       ' Mean Humidity', ' Min Humidity', ' Max Sea Level PressureIn',
       ' Mean Sea Level PressureIn', ' Min Sea Level PressureIn',
       ' Max VisibilityMiles', ' Mean VisibilityMiles', ' Min VisibilityMiles',
       ' Max Wind SpeedMPH', ' Mean Wind SpeedMPH', ' Max Gust SpeedMPH',
       'PrecipitationIn', ' CloudCover', ' Events', ' WindDirDegrees'],
      dtype='object')

The above function will display the names of the columns (variables) in the given data set

In [5]:
# See the data types of the variable in the data frame
da.dtypes

AKST                           object
Max TemperatureF                int64
Mean TemperatureF               int64
Min TemperatureF                int64
Max Dew PointF                  int64
MeanDew PointF                  int64
Min DewpointF                   int64
Max Humidity                    int64
 Mean Humidity                  int64
 Min Humidity                   int64
 Max Sea Level PressureIn     float64
 Mean Sea Level PressureIn    float64
 Min Sea Level PressureIn     float64
 Max VisibilityMiles            int64
 Mean VisibilityMiles           int64
 Min VisibilityMiles            int64
 Max Wind SpeedMPH              int64
 Mean Wind SpeedMPH             int64
 Max Gust SpeedMPH            float64
PrecipitationIn               float64
 CloudCover                     int64
 Events                        object
 WindDirDegrees                 int64
dtype: object

### Data frames can be sliced using a few different approaches:

1) You can assign a variable name to a pyton variable and then ivoke methods to get information

In [12]:
# Assign column to variable 
maxtemps = da["Max TemperatureF"]

# Return the highest value in a column 
print("The highest temperature is: {0}".format(maxtemps.max()))

The highest temperature is: 71

2) You can assign the column to a variable using .loc

In [15]:
# Assign colum using a slice
maxtemps = da.loc[:, "Max TemperatureF"]     # This will assign entire column to variable

#Return the highest value in the column
print("The highest temperaure is: {0}".format(maxtemps.max()))

The highest temperaure is: 71

3) You can assign a column to a variable by its position using .iloc.

In [18]:
# Assign colum using its position in the dataframe 
maxtemps = da.iloc[:, 1]

# Return the highest value in the column 
print("The highest temperture is: {0}".format(maxtemps.max()))

The highest temperture is: 71

4) You can also assign by its name by simply using the dataframe object.COLUMNNAME
* I'm not entirely sure, but I think that the name itself must be one word, not separated by spaces

In [35]:
# Assign column using its names after a dot (.)
date_time = da.AKST

You can check on the data type of a dataframe objet

In [37]:
print(type(da))
print(type(date_time))
print(type(maxtemps))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>